body {
	background: #f3f4f4;
	font-size:13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#999;
}
.wrap {
	width:960px;
	margin:0 auto;
}
.content {
	background: #fff url(../images/main_content_sep.png) left bottom repeat-x;
	padding:20px 0px;
	float:left;
	width:100%;
}
.content {
	background: #fff url(../images/main_content_sep.png) left bottom repeat-x;
	padding-bottom:6px;
	float:left;
	width:100%;
}
.post_entry_wide ul {
	list-style-type:disc;
	margin:5px 0 5px 0px;
	padding-left:20px;
	list-style-position:inside;
}

.post_entry_wide ul li 
.post_entry_wide ol li 
{
	padding:5px 0px;	
}
.post_entry_wide h1:first-child {
	border-bottom:1px solid #999999;
	display:block;
	float:left;
	margin-bottom:10px;
	padding-top:0px;
	width:100%;
}
h1, h2, h3, h4, h5, h6 {
	color:#00a3d3;
	font-weight: bold;
	line-height:1.4em;
	margin:0;
	padding:10px 0px;
	letter-spacing:-1px;
	text-shadow:1px 1px 0px #fff;
}
.padding-top-bottom { padding:40px 0px;}

#content a{
	font-size:14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #00A3D3;
	text-decoration:none;
}
#content a:hover{
	font-size:14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #027394;
	text-decoration:none;
}
#table_content {
	border: 1px solid #C8C7C8;
	border-collapse:collapse;
	margin:20px 0px 20px 0px;
	text-align: left;
	width:100%;
}
#table_content th {
	border: 1px solid #C8C7C8;
	padding:8px;
}
#table_content td {
	border: 1px solid #C8C7C8;
	padding:8px;
}
.table_trail td {
	text-align: left;
	padding:8px;
}
.table_content {
	border: 1px solid #C8C7C8;
	border-collapse:collapse;
	margin:20px 0px 20px 0px;
	text-align: left;
	width:100%;
}
.table_content th {
	border: 1px solid #C8C7C8;
	padding:8px;
}
.table_content td {
	border: 1px solid #C8C7C8;
	padding:8px;
}
.form-comment .holder {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.form-comment label {
    float: left;
    height: 20px;
    margin: 5px 0 0;
    width: 150px;
}
.form-comment input, #searchform #s {
    background: url("../images/input_bg.png") repeat-x scroll center top #FFFFFF;
    border-color: #CCCCCC #D1D2D2 #D1D2D2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    float: left;
    font-size: 13px;
    margin: 0 0 7px;
    padding: 6px;
    width: 250px;
}
.form-comment input.submit{
    background: url("../images/button_overlay.png") repeat-x scroll center top #00A3D3;
    border-color: #03B2E5 #00A3D3 #018DB6;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #999999;
    color: #FFFFFF;
    cursor: pointer;
    float: none;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 38px;
    line-height: 36px;
    margin: 6px 0 10px;
    padding: 0 12px;
    width: auto;
}